__pycache__
src/sequences/*/*
*.pyc
.DS_Store
node_modules
*.pkl
.ipynb_checkpoints
bundle.js

# virtual environment
venv
stop

# keep default sequences
!src/sequences/*/ignore
!src/sequences/*/anger*
!src/sequences/*/fear*
!src/sequences/*/happy*
!src/sequences/*/sad*
!src/sequences/*/reset*
!src/sequences/*/yes*
!src/sequences/*/no*
